*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: black;
    background-image: url("https://images.unsplash.com/photo-1621619856624-42fd193a0661?q=80&w=1458&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}
form {
    width: 300px;
    margin:  auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.199); /* Adjust the opacity as needed */
    backdrop-filter: blur(5px); /* Adjust the blur amount as needed */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 8px 32px rgba(253, 253, 253, 0.267);
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #64da773f;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #26c526fd;
}

/* Error message styles */
.error-message {
    color: red;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 10px;
}

/* Style for each input container */
.input-container {
    margin-bottom: 20px;
}