*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
    background:linear-gradient(315deg,#ffffff,#d7e1ec) ;

}

.main{
    display: inline-flex;
}
.main .icon{
    margin: 0 20px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 3;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);

}

.main .icon span {
    position:relative;
    z-index: 3;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
    display: block;
    text-align: center;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);

}

.main .icon span i{
    font-size: 25px;
    line-height: 55px;
    font-weight: 500;
}

.main .icon .tooltip{
    position: absolute;
    top: -95%;
    font-size: 20px;
    background-color: #fff;
    border-radius: 20px;
    padding: 10px 22px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);

}

.main .icon:hover .tooltip{
    top: -60px;
    opacity: 1;
    pointer-events: auto;


}
.main .icon .tooltip:before{
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    bottom: -8%;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    background: #fff;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);


}

.main .icon:hover span i{
    color: #fff;
}
.main .icon:hover .span,
.main .icon:hover .tooltip{
    text-shadow: 0px -2px 0px rgba(0, 0, 0, 0.1);

}

.main .facebook:hover span,
.main .facebook:hover .tooltip,
.main .facebook:hover .tooltip:before{
    background-color: #1877F2;
    color: #fff;
}

.main .instagram:hover span,
.main .instagram:hover .tooltip,
.main .instagram:hover .tooltip:before{
    background: #E1306C;
    color: #fff;
}

.main .twitter:hover span,
.main .twitter:hover .tooltip,
.main .twitter:hover .tooltip:before{
    background-color: #1DA1F2;
    color: #fff;
}

.main .github:hover span,
.main .github:hover .tooltip,
.main .github:hover .tooltip:before{
    background-color: #181717;
    color: #fff;
}

.main .youtub:hover span,
.main .youtub:hover .tooltip,
.main .youtub:hover .tooltip:before{
    background-color: #FF0000;
    color: #fff;
}


